<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jumping_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,66},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>jumping_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,58},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>jumping_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,34},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>jumping_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>jumping_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>jumping_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>jumping_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blue_jumping.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0d5b72ac8f196030c80be567f631e58:f9bcf92d3a9949044c6f3f278cb23f3c:690857ea85530b9256cbdde4c0c5bf3e$</string>
            <key>textureFileName</key>
            <string>blue_jumping.png</string>
        </dict>
    </dict>
</plist>
