<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_slide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{29,37}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>red_slide_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,28}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_sliding.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b53cb20ba94f2bb985118a66c4e99915:50cbb77467744db5506403e394edf683:e2c0c96823c54cd8f07b20bcf1770646$</string>
            <key>textureFileName</key>
            <string>red_sliding.png</string>
        </dict>
    </dict>
</plist>
