<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>red_jumping_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,66},{30,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,54}}</string>
			<key>sourceSize</key>
			<string>{30,54}</string>
		</dict>
		<key>red_jumping_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,58},{30,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,54}}</string>
			<key>sourceSize</key>
			<string>{30,54}</string>
		</dict>
		<key>red_jumping_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,34},{30,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,54}}</string>
			<key>sourceSize</key>
			<string>{30,54}</string>
		</dict>
		<key>red_jumping_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,2},{30,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,54}}</string>
			<key>sourceSize</key>
			<string>{30,54}</string>
		</dict>
		<key>red_jumping_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,2},{30,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,54}}</string>
			<key>sourceSize</key>
			<string>{30,54}</string>
		</dict>
		<key>red_jumping_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,58},{30,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,54}}</string>
			<key>sourceSize</key>
			<string>{30,54}</string>
		</dict>
		<key>red_jumping_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{30,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,54}}</string>
			<key>sourceSize</key>
			<string>{30,54}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>red_jumping.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:998702bf51ee2934714cec2afa381c1f:f325a068e3d907e1454fbb6fc2643f53:4f2058549de29bc2debeed56684d802c$</string>
		<key>textureFileName</key>
		<string>red_jumping.png</string>
	</dict>
</dict>
</plist>
