<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>green_slide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>green_slide_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{48,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>green_sliding.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06bc4c1c7c2a78c3e5f81dc4c750a739:3de936d01c0fc72bba0fd1a7d5912df3:33fe94da4ef6bed370838995ad5b4e40$</string>
            <key>textureFileName</key>
            <string>green_sliding.png</string>
        </dict>
    </dict>
</plist>
